<div class="footer-wrapper row hidden-sm-down">
  <div class="col">
      <div class="footer-content-wrapper row">
          <div class="col">
            <div class="row">
              <div class="col-5">
                <img src="{{imgSrc}}" class="float-right"/>
                <h3>המומלצים ביותר</h3>
              </div>
              <div class="col">
                 <ul>
                   <li><span>תנאי שירות</span></li>
                   <li><span>מדיניות פרטיות</span></li>
                   <li><span>הזמנות</span></li>
                 </ul>
              </div>
              <div class="col">
                <ul>
                  <li><span>שאלות נפוצות</span></li>
                  <li><span>צור איתנו</span></li>
                  <li><span>עלינו</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col hidden-lg-down">

          </div>
      </div>
  </div>
  <p>כל הזכויות שמורות לעשרת המומלצים 2017</p>
</div>

<div class="mobile-footer-wrapper row hidden-md-up">
    <div class="col">
        <ul>
          <li><span>תנאי שירות</span></li>
          <li><span>מדיניות פרטיות</span></li>
          <li><span>הזמנות</span></li>
          <li><span>שאלות נפוצות</span></li>
          <li><span>צור איתנו</span></li>
          <li><span>עלינו</span></li>
        </ul>
     </div>
</div>
<div class="mobile-footer-rights row hidden-md-up">
  <div class="col">
    <h3 class="text-center">כל הזכויות שמורות לעשרת המומלצים 2017</h3>
  </div>
</div>